<p> Total de Convidados: <%= @total_convidados %></p>
<p> Total de Convites: <%= @total_convites %></p>

<h1>Listing Convidados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Conjuge</th>
      <th>Endereco</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @convidados.each do |convidado| %>
      <tr>
        <td><%= convidado.nome %></td>
        <td><%= convidado.conjuge %></td>
        <td><%= convidado.endereco %></td>
        <td><%= convidado.bairro %></td>
        <td><%= convidado.cidade %></td>
        <td><%= convidado.descricao %></td>
        <td><%= link_to 'Show', convidado %></td>
        <td><%= link_to 'Edit', edit_convidado_path(convidado) %></td>
        <td><%= link_to 'Destroy', convidado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Convidado', new_convidado_path %>
