  <p id="notice"><%= notice %></p>
  <div style="position:relative;" class="col-md-offset-1 col-md-10">
    <h1> Convidados sem Convite <span class="badge"><%= @total_convidados %></span></h1>
    <div class="col-md-4">
      <%= label_tag "opcao_filtro", "Bairro" %>
      <%= radio_button_tag "opcao_filtro", "bairro" %>
      <%= label_tag "opcao_filtro", "Descrição" %>
      <%= radio_button_tag "opcao_filtro", "descricao" %>
      <%= label_tag "opcao_filtro", "Cidade" %>
      <%= radio_button_tag "opcao_filtro", "cidade" %>
    </div>
    <%= form_tag convidados_busca_bairro_path, method: :get, class: "form-inline col-md-offset-7" do %>
      <div class="form-group">
        <%= label_tag "filtro_bairro", "Filtrar por Bairro" %>
        <%= select_tag :nome_bairro, options_from_collection_for_select(@convidados_bairro, "bairro", "bairro"), class: 'form-control' %>
        <%= button_to "Filtrar", nil, class: "btn btn-primary" %>
      </div>    
    <% end %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Conjuge</th>
          <th>Endereco</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>Descricao</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @convidados.each do |convidado| %>
          <tr id="<%= convidado.id %>">
            <td><%= convidado.nome %></td>
            <td><%= convidado.conjuge %></td>
            <td><%= convidado.endereco %></td>
            <td><%= convidado.bairro %></td>
            <td><%= convidado.cidade %></td>
            <td><%= convidado.descricao %></td>
            <td><button name="convidar" class="btn btn-default btn-xs">Convidar</button></td>
            <td><%= button_to 'Editar', edit_convidado_path(convidado), method: :get, class: 'btn btn-default btn-xs' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= button_to 'Novo Convidado', new_convidado_path, method: :get, class: 'btn btn-default' %>
  </div>
 


<% content_for :js do %>
 $(document).ready(function() {

  var convidado = function(){
    confirma= confirm("Deseja Registrar o Convite?");
    if(confirma){
      id = $(this).parent().parent().attr("id");
      convite = {convidado_id: id}
      $.ajax({
        url: "<%= convites_path %>",
        type: "POST",
        data: convite,
        success: function(data){
         location.reload();
      }

      });
    }
  }; 

  var filtrar = function(){
    var opcao= $(':checked').attr('value');
    $.ajax({
      url: "<%= convidados_filtrar_path %>",
      type: "POST",
      data: {opcao_filtro: opcao},
      success: function(data){
        $.each(data,function(i,obj){
            console.log(obj.bairro);
        });
      }
    });
  };
  $('button[name="convidar"]').bind('click', convidado);
  $('button[name="filtra_bairro"]').bind('click',filtrar);
  $('input[name="opcao_filtro"]').bind('click',filtrar);
 });

<% end %>


