
<div class="col-md-10">
  <h1> Convidados Cadastrados <span class="badge"><%= @total_convidados %></span></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Conjuge</th>
        <th>Endereco</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Descricao</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @convidados.each do |convidado| %>
        <tr id="<%= convidado.id %>">
          <td><%= convidado.nome %></td>
          <td><%= convidado.conjuge %></td>
          <td><%= convidado.endereco %></td>
          <td><%= convidado.bairro %></td>
          <td><%= convidado.cidade %></td>
          <td><%= convidado.descricao %></td>
          <td><button name="convidar">Convidar</button></td>
          <td><%= link_to 'Edit', edit_convidado_path(convidado) %></td>
          <td><%= link_to 'Destroy', convidado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Convidado', new_convidado_path %>
</div>

<% content_for :js do %>
 $(document).ready(function() {

  var convidado = function(){
    confirma= confirm("Deseja Registrar o Convite?");
    if(confirma){
      id = $(this).parent().parent().attr("id");
      convite = {convidado_id: id, data_entrega: '2016-01-30', user_id: "2"}
      $.ajax({
        url: "<%= convites_path %>",
        type: "POST",
        data: convite,
        success: function(data){
         location.reload();
      }

      });
    }
  }; 
  $('button[name="convidar"]').bind('click', convidado);
 });

<% end %>


