<%= form_for(@convite) do |f| %>
  <% if @convite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convite.errors.count, "error") %> prohibited this convite from being saved:</h2>

      <ul>
      <% @convite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :usuario_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :data_entrega %><br>
    <%= f.datetime_select :data_entrega %>
  </div>
  <div class="field">
    <%= f.label :convidado_id %><br>
    <%= f.collection_select(:convidado_id, @convidados, :id, :nome, prompt: true)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
