<div class="col-md-10">
  <h1>Convites Entregues</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome Convidado</th>
      <th>Data entrega</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @convites.each do |convite| %>
      <tr>
        <td><%= convite.convidado.nome %></td>
        <td><%= convite.data_entrega.strftime("%d/%m/%Y") %></td>
        <td><%= convite.user.usuario %></td>
        <td><%= link_to 'Show', convite %></td>
        <td><%= link_to 'Edit', edit_convite_path(convite) %></td>
        <td><%= link_to 'Destroy', convite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Convite', new_convite_path %>
</div>

