<p id="notice"><%= notice %></p>

<h1>Listing Convites</h1>

<table>
  <thead>
    <tr>
      <th>Nome Convidado</th>
      <th>Data entrega</th>
      <th>Usuário</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @convites.each do |convite| %>
      <tr>
        <td><%= convite.convidado.nome %></td>
        <td><%= convite.data_entrega.strftime("%d/%m/%Y") %></td>
        <td><%= convite.user.usuario %></td>
        <td><%= link_to 'Show', convite %></td>
        <td><%= link_to 'Edit', edit_convite_path(convite) %></td>
        <td><%= link_to 'Destroy', convite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Convite', new_convite_path %>
