<p id="notice"><%= notice %></p>
<div class="col-md-10">
  <h1>Convites Entegues <span class="badge"><%=@total_convites %></span></h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Nome Convidado</th>
      <th>Data entrega</th>
      <th>Usuário</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @convites.each do |convite| %>
      <tr>
        <td><%= convite.convidado.nome %></td>
        <td><%= convite.data_entrega.strftime("%d/%m/%Y") %></td>
        <td><%= convite.user.usuario %></td>
        <td><%= button_to 'Excluir', convite, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Realmente deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
