<!DOCTYPE html>
<html>
<head>
  <title>Invitations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  .container{
  	/*background-color: #26ADE4;*/
  	margin: 5px auto;
  	width: 100%;
  }

  .navbar, .navbar-default{
  	margin-top: 5px;
  }

  .row{
  	padding: 10px;
  	/*background-color: #E1F5C4;*/
  	margin: 2px;
  	margin-bottom: 10px;
  	width: 100%;
  }
  #header{
  	background-color: #2C3E50;
  	margin-top: 0px;
  }

  #body{
  	/*background-color:  #F8F8F8;*/
  	border-radius: 4px;
  }

  .item{
  list-style-type: none;
  background-color: #F8F8F8;
  }

  /* css divs arredondadas */

  .circle {
margin-left: auto;
margin-right: auto;
border-radius: 50%;
width: 80%;
position: relative;
}

.circle-border {
border: 1px solid black;
}

.circle-solid{
background-color: whitesmoke;
}

.circle:before {
content: "";
display: block;
padding-top: 100%;
}

.circle-inner {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
}

.score-text {
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 1em;
line-height: 1em;
font-size: 1em;
}

#rodape{

}



#rodape p{

}


.container-fluid{
  background-color: #2C3E50;
  border-style: none;
  border-color: #2C3E50;
}

.navbar-default{
  border-style: none;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-nav > li > a{
	color: #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	
	color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #FFF;
	
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #FFF;
	background-color: #1A242F; 
}
.dropdown-menu{
	color: #FFF;
	background-color: #1A242F;
}
.dropdown-menu > li > a{
	color: #FFF;
}
.navbar-default .navbar-link{
	color: #FFF;
}

.col-md-12, .col-md-10, .login, .panel-default, .editar-perfil{
	margin-top: 60px;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height:100%;
}

.geral {
	min-height:100%;
	position:relative;
	width:100%;
}

#footer{
	position:absolute;
	bottom:0;
	width:100%;
	background-color: #222222;
	background-image: url("https://cdn3.iconfinder.com/data/icons/valenticons-2/64/valenticons-07-64.png");
	background-repeat: no-repeat;
	background-position: center;
	

}

#footer p{
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	padding-top: 5px;
	color: #FFF;
}
#body {
	overflow:hidden;
	position: relative;
	padding-bottom: 80px;
}
  </style>
</head>
<body>
	<div class="geral">
			<div id="header" class="navbar navbar-default navbar-fixed-top">
				<div class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="navbar-brand" href="<%= root_url %>"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a>
						    </div>

						    <!-- Collect the nav links, forms, and other content for toggling -->
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav">
						        <li> <a href="<%= root_url %>convidados"><i class="fa fa-users"></i> Convidados</a></li>
						        <li><a href="<%= root_url %>convites"><i class="fa fa-envelope-o"></i> Convites</a></li>
						        <li class="dropdown">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
						          <ul class="dropdown-menu">
						            <li><%= link_to "Registrar Convidados", new_convidado_path%></li>
						            <li><a href="<%= root_url %>">Registrar Convites</a></li>
						            <li role="separator" class="divider"></li>
						            <li><%= link_to "Todos Convidados", convidados_todos_convidados_path %></li>
						            <li role="separator" class="divider"></li>
						          </ul>
						        </li>
						      </ul>
						      <%= form_tag convites_busca_path, method: :get, class: "navbar-form navbar-left"  do %>
						      	<div class="form-group">
						      		<%= text_field_tag :nome, nil, placeholder: "Buscar convites", class: "form-control"%>
						      		<%= button_to "Buscar", nil, class: "btn btn-default" %>
						      	</div>		
						      <% end %>
						      <ul class="nav navbar-nav navbar-right">
						      	<% if user_signed_in? %>
							        <li class="dropdown">
							          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <%= current_user.usuario %><span class="caret"></span></a>
							          <ul class="dropdown-menu">
							            <li><%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %></li>
							            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
							          </ul>
							        </li>
							    <% else %>
							    	 <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
		          					 <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
		          				<% end %>
						      </ul>
						    </div>
					</div>
				</div>
			</div>
			<div id="body" >
				<%= yield %>
				<script>
					<%= yield :js %>
				</script>
			</div>
			<div id="footer" class="col-md-12">
					<p style="">Mônica Caroline - Paulo Humberto</p>
					<p >14 de Janeiro de 2017</p>
			</div>

	</div>
</body>
</html>
